* {
  padding: 0;
  margin: 0; 
}
h1 {
  padding: 20px;
  font-family: Arial;
}
h3 {
  font-size: ;
  background-color: #13151f;
  margin: 10px;
  padding: 10px;
}
body {
  background-color: #03050f;
  color: white;
  font-family: Open Sans, Helvetica Neue;
}